{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-10">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-warning" role="alert">
          {% for message in messages %}
            {{ message }}<br>
            {% endfor %}
        </div>
        {% endif %}
      {% endwith %}
        <form action="{{ url_for('main.main') }}" method="post">
          <blockquote class="blockquote">
            <p class="mb-0">
              - Когда я беру слово, оно означает то, что я хочу, не больше и не меньше, — сказал Шалтай презрительно.
              </br>
              - Вопрос в том, подчинится ли оно вам, — сказала Алиса.
              </br>
              - Вопрос в том, кто из нас здесь хозяин, — сказал Шалтай-Болтай. — Вот в чем вопрос!
            </p>
            <footer class="blockquote-footer">Льюис Кэрролл. <cite title="Source Title">Алиса в Зазеркалье</cite></footer>
          </blockquote>
          <div class="accordion" id="accordionExample">
            <div class="card">

              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Добавить расчет квадрата
                  </button>
                </h5>
              </div>

              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">

                  <form class="needs-validation" novalidate>

                    <div class="form-row">

                      <div class="col-md-3 mb-4">
                        <label for="validationTooltip01">Имя</label>
                        <input type="text" class="form-control" id="validationTooltip01" placeholder="Имя" value="Анна" required>
                        <div class="valid-tooltip">
                          Looks good!
                        </div>
                      </div>

                      <div class="col-md-3 mb-4">
                        <label for="validationTooltip02">Фамилия</label>
                        <input type="text" class="form-control" id="validationTooltip02" placeholder="Фамилия" value="Петрова" required>
                        <div class="valid-tooltip">
                          Looks good!
                        </div>
                      </div>

                      <div class="col-md-3 mb-4">
                        <label for="validationTooltip01">Дата рождения</label>
                          <input type="date" class="form-control" id="start" name="trip-start" value="1994-06-17" min="1900-01-01" max="2100-12-31" required>
                      </div>

                      <div class="col-md-3 mb-4">
                        <label for="validationTooltip01">Время рождения</label>
                          <input type="time" class="form-control" id="appt" name="appt" min="00:00" max="23:59" required>
                      </div>

                    </div>

                    <button class="btn btn-primary" type="submit">Добавить расчет</button>

                  </form>
                  
                </div>
              </div>

            </div>
          </div>

        </form>

    </div>
  </div>
{% endblock %}
